@charset "UTF-8";

@if $enable-links == true {

	.link {

		&.link--current {
			text-decoration: none;
			cursor: default;

			&:visited,
			&:hover,
			&:active {
				color: inherit;
			}
		}

		&.link--pseudo {
			text-decoration: underline dotted $color-link;
		}
	}
}
