<form class="app" data-background="clinging-pearl">
  <header class="nps-header">
    <div class="container">
      <div class="nps-header__body">
        <a href="#" class="nps-header__logo">
          <img src="assets/img/black-logotype.svg" data-color="black" alt="">
          <img src="assets/img/white-logotype.svg" data-color="white" alt="">
          <div class="main-site-header__cobr-logo"></div>
        </a>
      </div>
    </div>
  </header>
  <main>
    <section class="section section--first-child-top-gutter">
      <div class="nps-form">
        <div class="container">
          <h2 class="nps-form__title">Расскажите, как&nbsp;прошёл&nbsp;ваш&nbsp;разговор с&nbsp;менеджером&nbsp;Autospot</h2>
        </div>
      </div>
    </section>

    <section class="section section--no-top-border section--no-padding-top">
      <div class="container">
        <div class="nps-form">
          <h2 class="nps-form__title">Оцените предложения<br/>от&nbsp;дилеров</h2>
        </div>
      </div>
    </section>
  </main>
</form>

